@model IEnumerable<OnlineTestingSystem.BLL.ModelsDTO.TestDTO>

@{
    ViewBag.Title = "AllTests";
}

<h2>AllTests</h2>
<br />

<div style="display:block; height:500px;">
    @foreach (var test in Model)
    {

        <div class="col-md-4" style="display:block;">
            <a href="@Url.Action("Test", "Test", new { @id = test.Id })">

                <div style="border:1px solid black; padding:15px; margin:10px,15px; height:100px;">
                    @Html.ActionLink(test.Name, "Test", "Test", new { id = test.Id }, new { @class = "" })
                    
                </div>
            </a>
        </div>

    }
</div>