@model IEnumerable<OnlineTestingSystem.WebUI.Models.TestViewModel>

@{
    ViewBag.Title = "Catalog";
}

<h2>Catalog</h2>
<br />

<table class="table">
    <thead>
        <tr>
            <th>Test</th>
            <th>Questions</th>
            <th>Time Limit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var test in Model)
        {
            <tr>
                <td>@test.Name</td>
                <td>@test.NumberOfQuestions</td>
                <td>@test.Timelimit</td>
                <td>
                    <button class="btn-group-sm btn-info" onclick="location.href = 'Test/@test.Id';">
                        →
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
