@model OnlineTestingSystem.BLL.ModelsDTO.UserDTO
@{
    ViewBag.Title = "Cabinet";
}

<h2>Cabinet</h2>

<div>
    @Model.FirstName @Model.LastName
</div>

<div class="row">
    <div class="col-md-6" >
        @Html.ActionLink("Certificates", "MyCertificates", "Account")
    </div>
    <div class="col-md-6">
        @Html.ActionLink("Sessions", "MyTestsSessions", "Account")
    </div>
</div>